# ==========================================
# GeSoccer - Environment Variables
# ==========================================

# ==========================================
# CLIENT
# ==========================================

# URL publique du proxy GeSoccer.
# Cette valeur peut être exposée dans l'application.
EXPO_PUBLIC_GESOCCER_API_URL=https://ge-soccer.vercel.app/api/football


# ==========================================
# SERVER
# ==========================================

# Clé secrète API-Football.
# NE JAMAIS mettre la vraie clé dans EXPO_PUBLIC_*
# NE JAMAIS mettre la vraie clé dans Git.
API_FOOTBALL_KEY=your_api_football_key_here
