# ==========================================
# GeSoccer - Environment Variables
# ==========================================

# ==========================================
# CLIENT
# ==========================================

# Pour le Web Heroku, aucune URL publique
# n'est nécessaire : l'application utilise
# automatiquement /api/football.

# Pour Android/iOS, renseigner l'URL publique
# de ton serveur GeSoccer si nécessaire.
EXPO_PUBLIC_GESOCCER_API_URL=


# ==========================================
# SERVER
# ==========================================

# Clé secrète API-Football.
# NE JAMAIS mettre la vraie clé dans GitHub.
# NE JAMAIS utiliser EXPO_PUBLIC_ pour cette clé.
API_FOOTBALL_KEY=your_api_football_key_here
